<!-- <ng-container *ngFor="let Data of OnlineUsers">
    https://stackoverflow.com/questions/37686772/angular-2-hover-event
    <button (mouseenter)="mouseEnter('div a') " (mouseleave)="mouseLeave('div a')" mat-icon-button class="example-icon header-img" aria-label="Example icon-button with share icon">
    [ngStyle]="{'color':getRandomColor()}"
    <div [ngStyle]="{'margin':'auto','height':'20px','width':'20px','border-radius':'50%','background-color':Data.Color}"> </div>
  </button>
    <div [class]="FakeAlt">{{Data.User}}</div>
</ng-container> -->

<ng-container *ngFor="let Data of OnlineUsers">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <div [ngStyle]="{'margin':'auto','height':'20px','width':'20px','border-radius':'50%','background-color':Data.Color}"> </div>
</button>
    <mat-menu #menu="matMenu">
        <span>{{Data.User}}</span>
    </mat-menu>
</ng-container>