<div [ngStyle]="{'background-color':RandomColor,'height':'100vh'}">
    <div class="container" style="display:flex;height:100%;justify-content: center;">
        <mat-card class="row" style="max-width: 90%;max-height: 200px;margin: auto;">
            <mat-card-header>
                <mat-card-title>登入</mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content style="margin:0.3em 2em;">
                <mat-form-field>
                    <input [(ngModel)]="SignInForm.Email" type="email" name="SignInForm.Email" matInput placeholder="信箱" required />
                </mat-form-field>
                <span style="padding: 0 2em;"> </span>
                <mat-form-field>
                    <input [(ngModel)]="SignInForm.Password" type="password" name="SignInForm.Password" matInput placeholder="密碼" required (keyup.enter)="CommonSignIn('ButtonSignIn')" />
                    <!-- <mat-hint>簡單介紹一下你的興趣吧！</mat-hint>
                <mat-error>請記得輸入自我介紹喔！</mat-error> -->
                </mat-form-field>
                <p *ngIf='SignInForm.Verification!=""' style="color: red;">{{SignInForm.Verification}}</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <mat-checkbox [(ngModel)]="RememberMe">記住我</mat-checkbox>
                <button mat-button disabled>Google</button>
                <button mat-button disabled>Github</button>
                <button mat-button [disabled]="Disabled" (click)="CommonSignIn('ButtonSignIn')">登入</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>