<mat-toolbar [ngStyle]="{'background-color':RandomColor,'padding':'5vh 20vw'}">
  <p style="font-size: 0.5em;color:white;text-shadow: black 0.1em 0.1em 0.2em"><a style="color: white !important;"
      class="ButtonLink" [routerLink]="'/SignIn'"> Powered by
      Google AG2+ etc... Theme by {{StudioName}}</a></p>
  <p style="font-size: 0.5em;color:white;margin-left: 1em;text-shadow: black 0.1em 0.1em 0.2em">Copyright © 2021.03 -
    {{NowDate|date:'yyyy.MM'}} All Rights
    Reserved.　法律顧問：相龔律師事務所</p>

</mat-toolbar>
