<mat-expansion-panel hideToggle="false" expanded="false">
    <mat-expansion-panel-header (click)="DisplayMode?DisplayMode=false:DisplayMode=true">
        <mat-panel-title>
            <span *ngIf="DisplayMode" style="padding-right: 1em;" class="material-icons">border_color</span>
            <span *ngIf="!DisplayMode" style="padding-right: 1em;" class="material-icons">format_align_justify</span>
            <h4>文章注意事項 v1 2021-0328</h4>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
        <h4>內容行銷</h4>
        <ul><a href="https://startablog.tips/why-i-start-this-blog/">為何要經營這個部落格？</a>
            <li>穩定產出、隨時記錄靈感、觀察組織二次編輯、確定內容有價值</li>
            <li>他處分享導流，以下收錄他處有哪些 ( 少就幫忙補上 )：</li>
            <ul>
                <li>FB社團、FB粉絲頁、IG、Mobile01、Medium、etc...
                </li>
            </ul>
            <li>範例：同一篇文章</li>
            <ul>
                <li>Blog https://siddharam.com.tw/post/20210325/</li>
                <li>FB社團 https://www.facebook.com/groups/447366842787440/permalink/794235361433918</li>
                <li>FB粉絲團 https://www.facebook.com/%E8%A5%BF%E6%89%93%E8%97%8D-Siddharam-104806204464269/</li>
                <li>Matters https://matters.news/@Siddharam</li>
            </ul>
            <li>獲利方式 ( 到時需產篇文章來多了解一番 )</li>
            <ul>
                <li>聯盟行銷、業配文、廣告、賣商品 ( 實體、虛擬 )</li>
            </ul>
        </ul>
    </ul>
    <hr>
    <h4>SEO</h4>
    <ul>
        <li>https://easytorich.com/how-to-write-article-title/#%E5%89%AF%E6%A8%99%E9%A1%8C%E8%88%87%E5%AD%90%E6%A8%99%E9%A1%8C%E5%8F%88%E8%A9%B2%E5%A6%82%E4%BD%95%E4%B8%8B%EF%BC%9F</li>
    </ul>
</mat-expansion-panel>