<button (click)="_FireAuthHelper.SignOut()" mat-menu-item>
  <i class="material-icons">accessible_forward</i>
  <span>登出</span>
</button>
<button mat-menu-item (click)="Checking()">
  <i class="material-icons">fingerprint</i>
  <span>確認登入資訊(console)</span>
</button>
<button mat-menu-item (click)="BackFrontHomePage()">
  <i class="material-icons">exit_to_app</i>
  <span>返回前台首頁</span>
</button>
<button mat-menu-item (click)="SignOutImg()">
  <i class="material-icons">sports_kabaddi</i>
  <span>登出頭像</span>
</button>
<button mat-menu-item disabled>
  <i class="material-icons">device_unknown</i>
  <span>開發中</span>
</button>