<!-- 失敗套件 mat 與額外引入的編輯器套件生命週期會衝到，解太麻煩了手動刻看來是目前最快解以此做個紀錄 -->
<!-- https://ithelp.ithome.com.tw/articles/10196575 -->

<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [(selectedIndex)]="TabIndex">
    <mat-tab label="Ckeditor">
        <div class="form-group has-feedback" [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
            <ckeditor style="height: 100vh;" [(ngModel)]="this.Content" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig" debounce="500" (paste)="onPaste($event)" (change)="onChange($event)">
            </ckeditor>
            <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
        </div>
    </mat-tab>
    <mat-tab label="Editor.md">
        <app-editor-md *ngIf="TabIndex == 1" (onEditorMdChange)="SyncModel($event)"></app-editor-md>
        <div *ngIf="TabIndex == 1" id='EditorMd'></div>
    </mat-tab>
    <mat-tab label="Medium WYSIWYG">
        施工中
    </mat-tab>
</mat-tab-group>
<!-- <div id='EditorMd'></div> -->
<!-- <div id='EditorMd'></div> -->
<!-- <app-editor-md (onEditorMdChange)="SyncModel($event)"></app-editor-md> -->