<div>
    <div class="BannerBox" [ngStyle]="{'background-color':RandomColor[0],'display':RanNum[0]}">
        <div class="AnimationBox">
            <img #Img1 style="z-index: 4;position:absolute;width: auto;height: 250px;opacity: 0;" src="https://i.imgur.com/XJZP2q3.gif">
            <img #Img2 style="z-index: 3;position: absolute;width: auto;height: 350px;opacity: 0;" src="https://i.imgur.com/BAvQQpJ.png">
            <img #Img3 style="z-index: 2;position: absolute;width: auto;height: 350px;opacity: 0;" src="https://i.imgur.com/2VQqeJ4.png">
            <img #Img4 style="z-index: 1;position: absolute;width: auto;height: 350px;opacity: 0;" src="https://i.imgur.com/OTdiMBH.png">
        </div>
        <div class="TextBox">
            打卡單 ? 簽公文 ? 一堆流程、一堆文件缺乏系統整合 ?<span class="SecondButton">Read More</span>
        </div>

    </div>

    <div class="BannerBox" [ngStyle]="{'background-color':RandomColor[0],'display':RanNum[1]}">
        <div class="AnimationBox">
            <img #Img5 style="z-index: 1;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/cbSjXQJ.png">
            <img #Img6 style="z-index: 2;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/sTN9sjg.png">
            <img #Img7 style="z-index: 3;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/CXRYlJ1.png">
            <img #Img8 style="z-index: 4;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/g2A5RhN.png">
            <img #Img9 style="z-index: 5;position: absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/iUdMkvM.png">
            <img #Img10 style="z-index: 6;position: absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/l1uQZHe.png">
            <img #Img11 style="z-index: 7;position: absolute;width: auto;height: 380px;opacity: 0;" src="https://i.imgur.com/tZhFxXr.gif">
        </div>
        <div class="TextBox">
            電子商務、形象官網、廣告行銷，提升您的轉化績效與能見度<span class="SecondButton">Read More</span>
        </div>
    </div>

    <div class="BannerBox" [ngStyle]="{'background-color':RandomColor[0],'display':RanNum[2]}">
        <div class="AnimationBox">
            <img #Img12 style="z-index: 1;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/7EWlIS0.png">
            <img #Img13 style="z-index: 2;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/h0sblm9.png">
            <img #Img14 style="z-index: 3;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/SvltozY.png">
            <img #Img15 style="z-index: 4;position:absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/toUrgmk.png">
            <img #Img16 style="z-index: 5;position: absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/Lpf0rqJ.png">
            <img #Img17 style="z-index: 6;position: absolute;width: auto;height: 700px;opacity: 0;" src="https://i.imgur.com/8zljj3K.png">
            <img #Img18 style="z-index: 8;position: absolute;width: auto;height: 380px;opacity: 0;" src="https://i.imgur.com/ZQ5VYkA.gif">
            <img #Img19 style="z-index: 7;position: absolute;width: auto;height: 380px;opacity: 0;" src="https://i.imgur.com/eJLTp58.gif">
        </div>
        <div class="TextBox">
            都大數據時代，人手一機了你的 Business 還沒有 WebPOS ? App ?<span class="SecondButton">Read More</span>
        </div>

    </div>
</div>

<div id="ServicesBox" class="ServicesBox" [ngStyle]="{'background-color':RandomColor[1]}">
    <div style="display: flex;justify-content: center;align-items: center;padding-top: 10vh;">
        <div class="DeviceBox">
            <img style="max-height:200px" src="https://i.imgur.com/XJZP2q3.gif">
            <h2>系統開發</h2>
            <p>任何階段的產品，系統開發與維護，BPM + Any Domain Knowhow，雲端管理，客製化、免安裝 etc ...</p>
            <span class="SecondButton">Read More</span>
        </div>
        <div class="DeviceBox">
            <img style="max-height:200px" src="https://i.imgur.com/tZhFxXr.gif">
            <h2>網站開發</h2>
            <p>企業形象入口網站、購物型網、活動網站、RWD、SEO、CMS、ECshop、LineBot、多語系 etc ...</p>
            <span class="SecondButton">Read More</span>
        </div>
        <div class="DeviceBox">
            <img style="max-height:200px;max-width: 100px;" src="https://i.imgur.com/ZQ5VYkA.gif">
            <h2>App 開發</h2>
            <p>以 Ionic 為基礎構建 iOS 和 Android 享受如同原生 App的效益，減輕雙系統所造成的維護負擔 etc ...</p>
            <span class="SecondButton">Read More</span>
        </div>
        <div class="DeviceBox">
            <img style="max-height:200px" src="https://i.imgur.com/eJLTp58.gif">
            <h2>多平台系統</h2>
            <p>WebPOS、點餐系統，線上線下整合、利用雲平台蒐集數據，AI 分析市場趨勢、統整決策 etc ...</p>
            <span class="SecondButton">Read More</span>
        </div>
    </div>
    <p style="margin: 1rem 0 1rem 7rem;font-size: 3rem;color:rgba(255, 255, 255, 0.438)">Technical Standard</p>
    <div style="display:flex;justify-content: center;">
        <img class="SkillIcon" src="https://i.imgur.com/R5SEaIU.png">
        <img class="SkillIcon" src="https://i.imgur.com/fqwZw82.png">
        <img class="SkillIcon" src="https://i.imgur.com/Ex6tusp.png">
        <img class="SkillIcon" src="https://i.imgur.com/goh7IF4.png">
        <img class="SkillIcon" src="https://i.imgur.com/85OWo6D.png">
        <img class="SkillIcon" src="https://i.imgur.com/Oho8xiA.png">
    </div>
</div>
<div id="AboutBox" class="AboutBox" [ngStyle]="{'background-color':RandomColor[2]}">
    <div style="display: flex;justify-content:space-between;align-items: center;padding:20rem 20rem 0 20rem;position: relative;">
        <div class="PartyBox">
            <img style="max-height:200px" src="https://i.imgur.com/j3fQA0L.png">
            <h2>業務 / 專案管理</h2>
        </div>
        <div class="PartyBox">
            <img style="max-height:200px" src="https://i.imgur.com/I4DVH7V.png">
            <h2>美術設計</h2>
        </div>
        <div class="PartyBox">
            <img style="max-height:200px" src="https://i.imgur.com/HgxNmql.png">
            <h2>前端工程</h2>
        </div>
        <div class="PartyBox">
            <img style="max-height:200px" src="https://i.imgur.com/w1QjL0p.png">
            <h2>後端工程</h2>
        </div>
        <div style="text-align: center;position: absolute;top: 10vh;left: 1vw;font-size: 14rem;color:rgba(255,255,255,0.1)">
            Customization <br> DIGITAL STRATEGY
        </div>
    </div>
    <div style="margin: 10rem 20rem 0 20rem;font-size: 1.8rem;">
        <a href="https://lyrasoft.net/en/blog/knowledge/44-difference-between-custom-development-and-software-packages.html" style="color: white;">
            有時候，某些公司想做的網站可能需要特殊功能，例如活動報名、客服單管理、購物車、工作排程或預約等等，也可能需要一個內部管理系統。這些功能並非一般網頁設計就能做到的，常常需要配合程式開發，或尋找有經驗的廠商提供對應的軟體服務。對於從來沒有接觸過的人員來說，可能無法比較什麼樣的方案比較適合自己，我們試著提供一些差異與說明，讓大家可以找到適合自己的方案。
          </a>
    </div>
    <!-- 團隊組成 (強調不是套版也不是外包在外包) 未來要補一些獎項/鑑定類似乙檢之類的-->
</div>
<!-- <div id="SkillBox" class="SkillBox" [ngStyle]="{'background-color':RandomColor[1]}">
</div> -->
<div id="FlowBox" class="FlowBox" style="height:90vh" [ngStyle]="{'background-color':RandomColor[0]}">
    FlowBox
</div>